ul {
  max-width: 500px;
}
li {
  list-style-type: circle;
  font-size: 20px;
}
.onDelete {
  margin-left: 15px;

  border: 0.5px solid #3d3d3d;
  border-radius: 2px;
  background-color: #dd7474;
  font-size: 10px;
}
